<package-def>
    <class name="ГенераторПрограммногоКода1С" file="src/core/Классы/ГенераторПрограммногоКода1С.os"/>
    <class name="ПарсерКонсольнойКоманды" file="src/core/Классы/ПарсерКонсольнойКоманды.os"/>
    <class name="КонвертерКомандыCURL" file="src/core/Классы/КонвертерКомандыCURL.os"/>
</package-def>