<package-def>
    <class name="ГенераторКодаКоннектораCURL" file="src/generators/connector-http/Классы/ГенераторКодаКоннектораCURL.os"/>
    <class name="ФормированиеКодаКоннектораCURL" file="src/generators/connector-http/Классы/ФормированиеКодаКоннектораCURL.os"/>
    <class name="ФормированиеКодаПлатформыCURL" file="src/generators/platform-http/Классы/ФормированиеКодаПлатформыCURL.os"/>
    <class name="ПараметрыКонвертацииCURL" file="src/public/Классы/ПараметрыКонвертацииCURL.os"/>
    <class name="ПредупреждениеКонвертацииCURL" file="src/public/Классы/ПредупреждениеКонвертацииCURL.os"/>
    <class name="РезультатКонвертацииCURL" file="src/public/Классы/РезультатКонвертацииCURL.os"/>
    <class name="КонтекстГенерацииКода" file="src/public/Классы/КонтекстГенерацииКода.os"/>
    <class name="ОписаниеГенератораCURL" file="src/public/Классы/ОписаниеГенератораCURL.os"/>
    <class name="РеестрГенераторовCURL" file="src/public/Классы/РеестрГенераторовCURL.os"/>
    <class name="СервисКонвертацииCURL" file="src/generation/Классы/СервисКонвертацииCURL.os"/>
    <class name="КонвертерCURL" file="src/public/Классы/КонвертерCURL.os"/>
    <class name="ГенераторКодаПлатформыCURL" file="src/generators/platform-http/Классы/ГенераторКодаПлатформыCURL.os"/>
    <module name="КодыОшибокCurlone" file="src/public/Модули/КодыОшибокCurlone.os"/>
    <module name="КодыПредупрежденийCurlone" file="src/public/Модули/КодыПредупрежденийCurlone.os"/>
    <module name="ВерсииКонтрактаГенератораCURL" file="src/public/Модули/ВерсииКонтрактаГенератораCURL.os"/>
    <module name="ЦелиКонвертацииCURL" file="src/public/Модули/ЦелиКонвертацииCURL.os"/>
    <module name="ЛокалиКонвертацииCURL" file="src/public/Модули/ЛокалиКонвертацииCURL.os"/>
    <module name="КодыВозможностейГенератораCURL" file="src/public/Модули/КодыВозможностейГенератораCURL.os"/>
</package-def>
