<package-def>
    <class name="КонвертерКомандыCURL" file="src/core/Классы/КонвертерКомандыCURL.os"/>
    <class name="ГенераторПрограммногоКода1С" file="src/core/Классы/ГенераторПрограммногоКода1С.os"/>
    <class
        name="ГенераторПрограммногоКодаКоннекторHTTP"
        file="src/core/Классы/ГенераторПрограммногоКодаКоннекторHTTP.os"
    />
    <class name="ПараметрыКонвертацииCURL" file="src/public/Классы/ПараметрыКонвертацииCURL.os"/>
    <class name="ПредупреждениеКонвертацииCURL" file="src/public/Классы/ПредупреждениеКонвертацииCURL.os"/>
    <class name="РезультатКонвертацииCURL" file="src/public/Классы/РезультатКонвертацииCURL.os"/>
    <class name="КонтекстГенерацииКода" file="src/public/Классы/КонтекстГенерацииКода.os"/>
    <module name="КодыОшибокCurlone" file="src/public/Модули/КодыОшибокCurlone.os"/>
    <module name="КодыПредупрежденийCurlone" file="src/public/Модули/КодыПредупрежденийCurlone.os"/>
    <module name="ВерсииКонтрактаГенератораCURL" file="src/public/Модули/ВерсииКонтрактаГенератораCURL.os"/>
    <module name="ЦелиКонвертацииCURL" file="src/public/Модули/ЦелиКонвертацииCURL.os"/>
    <module name="ЛокалиКонвертацииCURL" file="src/public/Модули/ЛокалиКонвертацииCURL.os"/>
</package-def>
